#root{
  height: 100vh !important;
}

.my-flex{
  height: 77%;
}

.my-login{
  height: auto;
}

.children{
  height: 100%;
  overflow: auto;
}

.chat-text-right{
  width: 70%;
  position: relative;
  left: 30%;
  text-align: left; 
}

.chat-text-left{
  width: 70%;
  position: relative;
  left: 0px;
}


